*{
    
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* fonts */
@font-face {
    font-family: Neon Font;
    src: url(./images/Monoton-Regular.ttf);
  }
@font-face {
    font-family: Neon Regular;
    src: url(./images/screaming_neon.ttf);
  }

  /* start of nav section */

.nav-container{
    background-color:rgba(1, 21, 27, 0.596);
    padding:10px 0;
    max-width:100%;
    z-index:2;
    

}
.nav{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    font-weight:500;
    
}

.navigation-bar{
    margin:0 auto;
    text-align: left;
    max-width: 100%;
    margin-left:14px;
    
}
.navigation-bar li{
    list-style-type: none;
    padding-top:5px;
    
}
.navigation-bar button{
    background:transparent;
    border:none !important;
}
.navigation-bar li ul{
    display:inline-block;
    font-size:24px;
    margin-right:14px;
    color:#00eaffc5;
    font-family: Neon Regular;
    transition:0.5s ease-in-out;
    letter-spacing: 1.5px;
    


}
.navigation-bar li ul:hover{
    color:#084454;
}

.navigation-infos{
    display:flex;
    gap:10px;
    margin-right:15px;
    
    
}
.navigation-infos i{
    font-size: 30px;
    color:#ff003cde;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;

}
.navigation-infos p{
    color:#00c8ff;
    margin-top:4px;
    transition: 0.5s ease-in-out;
    font-family: Neon Regular;
    letter-spacing: 1.5px;


}
.navigation-infos i:hover{
    color:#ff003c8d;

}
.navigation-infos p:hover{
    color:#084454;
}


.hr-style{
    border:1px solid #00eaffc5;
    height:3px;
    background-color: #00eaffc5;
    background-color:inset 0 0 22px 3px rgba(19, 203, 228, 0.35), 0 0 20px 10px rgba(19, 203, 228, 0.45);
}

/* end of nav section */

/* start of intro section */

.intro-container{
    padding-top:80px;
    height:700px;
    margin:0;
    background-color:#01040a;
}

.intro {
    padding-top:50px;
    height:70vh;
    display:grid;
    grid-template-columns:1fr;
    align-items: center;
    justify-content: center;

}

.board{
    
    min-width:300px;
    margin:0 auto;
    border:6px solid #ffd4f4;
    border-radius:8px;
    min-height:250px;
    text-align: center;
    padding:45px 45px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 22px 3px rgba(225, 38, 226, .35), 0 0 20px 5px rgba(225, 38, 226, .45);
    animation: blinking 0.02s infinite alternate;

}

.text{
    width: 100%;
    font-family: Neon Font;
    font-size:5em;
    color:#ffd9e2;
    white-space: pre;
    position: relative;
    text-shadow:0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(225,0, 60, .5), 0 0 40px #ff003c, 0 0 300px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c;
    animation: flicker 4s infinite alternate;

}

.text1{
    width: 100%;
    font-family: Neon Font;
    font-size:4.5em;
    color:#ffd9e2;
    white-space: pre;
    position: relative;
    text-shadow:0 0 0 transparent, 0 0 10px #00c8ff, 0 0 20px rgba(0, 195, 225, 0.5), 0 0 40px #00c8ff, 0 0 100px #00c8ff, 0 0 100px #00c8ff, 0 0 100px #00c8ff, 0 0 200px #00c8ff;
    animation: flicker 5s infinite alternate;

}
.text:before {
    content:"";
    
    position: absolute;
    height:6px;
    top:-20px;
    left:50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #fffcd7;
    border-radius: 8px;
    box-shadow: inset 0 0 18px rgba(251, 255, 0, 0.35), 0 0 18px 5px rgba(251, 255, 0, 0.35);
    animation: blinking 0.02s infinite alternate;

}

.text1:after {
    content:"";
    position: absolute;
    height:6px;
    bottom:-20px;
    left:50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #fffcd7;
    border-radius: 8px;
    box-shadow: inset 0 0 18px rgba(251, 255, 0, 0.35), 0 0 18px 5px rgba(251, 255, 0, 0.35);
    animation: blinking 0.02s infinite alternate;


}
@keyframes blinking {
    70%{
        opacity:0.9;
    }
}

@keyframes flicker {
    40%{
        opacity: 1;
    }
    42%{
        opacity: 0.8;
    }
    43%{
        opacity: 1;
    }
    45%{
        opacity: 0.2;
    }
    46%{
        opacity: 1;
    }
}

.scroll-arrow{
    color:white;
    align-items: center;
    text-align: center;
    padding-top:60px;
    background-color: #01040a;
    width:100%;
    display: flex;
    justify-content: center;
  
}
.scroll-arrow .chevron-container {
    background: #fff;
    border-radius:5px;

    
}

.fa-chevron-down{
    color:#00c8ff;
    border: 1px solid #00c8ff;
    border-radius:5px;
    padding:7px;
    background: rgba(1, 21, 27, 0.598);
    cursor: pointer;


}

/* end of intro section */

/* start of about section */

.about-overlay {
    height:800px;
    background-color:#01040a;
    max-width:100%;
    display:flex;
    justify-content:center;
    padding-top:150px;
    
}
.about-container{
    background-color:#fff;
    width:85%;
    height:85%;
    border-radius: 5px;
}
.about{
    background: rgb(204, 216, 220) ;
    background: radial-gradient(circle, rgba(103,112,122,1) 72%, rgba(1,21,27,0.59) 97%);    width:100%;
    height:100%;
    border-radius: 5px;
    padding-top:5px;

}   

.about .hello{
    font-family: Neon Font;
    padding-left:30px;
    font-size:30px;
    color:#ffd9e2;
    white-space: pre;
    position: relative;
    text-shadow:0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(225,0, 60, .5), 0 0 40px #ff003c, 0 0 300px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c;
    
    animation: blinking 0.02s infinite alternate;
}

.about p{
    font-size:30px;
    padding-left:30px;
    font-family: 'League Gothic', sans-serif;
    word-spacing: 5px;
    margin-top:45px;
    color:#00c8ff
}
.skills-container{
    margin:130px 15px 0 15px;

}
.skills-container h1{
    margin-bottom: 50px;
    font-size:20px;
    text-align: center;
    color: #00c8ff;
    text-shadow: inset 0 0 22px 3px rgba(225, 38, 226, .35), 0 0 20px 5px rgba(225, 38, 226, .45);
    animation:none;

}
.skills{
    display:flex;
    justify-content: space-around;
    
}
.html{
    display:flex;
    flex-direction: column;
}
.css{
    display:flex;
    flex-direction: column;
    
}
.js{
    display:flex;
    flex-direction: column;
    
}

.git{
    display:flex;
    flex-direction: column;
}
.skills i{
    font-size:8em;
}
.skills img{
    width:140px;
    height: 140px;
}

.skills p {
    font-size:12px;
    align-items: center;
    font-family:Neon Regular;
    letter-spacing: 2px;
    word-spacing: 0;
    margin-top:10px;
    color:#00c8ff;
    text-align: center;
    font-weight: 700;
    text-align:center;
    white-space: normal;
    padding:0
}
.about a{
    cursor: pointer;
}
/* about section end */

/* projects section start */
.projects-section{
    padding-top:150px;
    background: #01040a;
}
.projects-overlay {
    max-width: 100%;
    padding-bottom: 200px;

}
.projects-overlay p{
    font-family: Neon Font;
    font-weight: 700;
    padding-top:100px;
    font-size:30px;
    color:#ffd9e2;
    white-space: pre;
    position: relative;
    text-align: center;
    text-shadow:0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(225,0, 60, .5), 0 0 40px #ff003c, 0 0 300px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c;
    animation: blinking 0.02s infinite alternate;

}

.projects-container{
    height:800px;
    max-width: 100%;

}

.projects {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.projects img{
    width:450px;
    height:280px;
    border-radius: 10px;
}
.project {
    justify-self: center;
    width:450px;
       
}

.project2{
    justify-self: center;
    width:450px;
}

.projects .title{
    font-family: Neon Font;
    font-size:25px;
    color:#00c8ff;
    white-space: pre;
    position: relative;
    text-shadow:none;
    
    animation: none;
    margin-bottom: 20px;
}


.projects button{
    background-color: #ff003cde ;
    border:1px solid #ff003cde;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    margin-top: 10px;
    margin-right:15px;
    transition:  0.5s ease-in-out;
}

.projects button:hover{
    background: #ff003c8d;
    border:1px solid #ff003c8d;

    cursor:pointer;
}

.projects .description {
    max-width:100%;
    font-size:20px;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: .6px;
    font-weight: 400;
    margin-top:45px;
    color:#00c8ff;
    text-shadow:none;
    animation: none;
    white-space:normal;
    text-align: left;
    height:115px;

}

.projects .langs{
    max-width:100%;
    font-size:20px;
    font-family: 'League Gothic', sans-serif;
    word-spacing: 15px;
    margin-top:45px;
    color:#ff003cde;
    text-shadow:none;
    animation: none;
    white-space: normal;
    text-align: center;
}

.project2 img{
    width:200px;
}
/* end of projects section */

/* start of contact */

.contact-container{
    background:#01040a;
    color:#00c8ff;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: .9px;
    font-size:20px;
    max-width:100%;    
    display: grid;
    
    /* padding-bottom: 100px; */
    
}
.contact-overlay{
    width:85%;
    background:#fff;
    border-radius: 5px;
    justify-self: center;

}

.contact{
    width:100%;
    background: rgba(1, 21, 27, 0.596);
    border-radius: 5px;
    padding-bottom: 20px;
    
    

}
.contact-title{
    background: #01040a;
    padding-bottom: 100px;
}
.contact-title p{
    padding-top:100px;
    font-family: Neon Font;
    font-weight: 700;
    font-size:30px;
    color:#ffd9e2;
    white-space: normal;
    text-align: center;
    text-shadow:0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(225,0, 60, .5), 0 0 40px #ff003c, 0 0 300px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c;
    animation: blinking 0.02s infinite alternate;

}
.contact .first-name{
    padding:20px 20px 0px 20px;
}

.contact .last-name{
    padding:20px 20px 0px 20px;

}

.contact .email-container{
    padding:20px 20px 0px 20px;

}

.contact .message{
    padding:20px 20px 0px 20px;

}

.contact input{
    padding:6px 15px 6px 5px;
    border-radius: 2px;
    border: 1px solid rgba(1, 21, 27, 0.598);
    background:rgb(245, 255, 255)
}

.contact textarea{
    padding:6px 200px 120px 5px;
    border-radius: 2px;
    border: 1px solid rgba(1, 21, 27, 0.598);
    background:rgb(245, 255, 255)
}

.contact .submit-button-container{
    width:100px;
    height:30px;
    background: rgb(255, 255, 255);
    margin-top:5px;
    border-radius:5px;

}
.contact .submit-button{
    font-size: 16px;
    
    width:100%;
    height:100%;    
    background: rgba(1, 21, 27, 0.598);
    border: 1px solid #00c8ff;
    color:#00c8ff;
    border-radius:5px;
    padding:7px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.contact .submit-button:hover{
    background: rgba(34, 63, 72, 0.598);
}

.fa-angles-up{
    color:#00c8ff;
    border: 1px solid #00c8ff;
    border-radius:5px;
    padding:7px;
    background: rgba(1, 21, 27, 0.598);
    cursor: pointer;

}

.footer-container {
    background:#01040a;
    color:#00c8ff;
    padding:40px 0;
    width:100%;
    display: flex;
    justify-content: center;
    font-family: 'League Gothic', sans-serif;
    font-size: 18px;
    word-spacing: 1px;
    letter-spacing: .9px;

}

.footer{
    width:85%;
}
/* mobile */
@media screen and (max-width:550px) {
    .intro-container{
        height:500px;
        padding-top:10px;
    }
    .navigation-bar li ul{
        font-size:16px;
    }
    .navigation-infos{
        font-size:12px
    }
    .intro{
        padding-top:50px
    }
    
    .intro .text{
        font-size: 25px;
        white-space:normal;
        
    }
    .intro .text:before{
        width:80%
    }
    .intro .text1{
        font-size:25px;
        white-space:normal;
        
    }
    .intro .text1:after{
        width:80%;
    }

    .about .hello{
        font-size:22px;
    }
    .about p{
        font-size:20px
    }
    .about-overlay{
        height:750px;
        padding-top: 200px;
    }
    .skills-container{
        margin:0;
        padding:0;
    }
    .skills-container .skills{
        width:100%;
        justify-content:space-around;
        align-items:center;
        margin-top: 40px;
        
    }
    .skills-container .skills img{
        width:60px;
        height:60px;
        
    }
    .skills-container .skills p{
        font-size:8px;
        text-align:center;
        white-space: normal;
        padding:0
        
        
    }
    
    .projects-overlay p{
        font-size:24px;
    }
    .projects .title{
        font-size:18px;
    }
    .projects{
        grid-template-columns: 1fr;
        gap:50px;
    }
    .projects img{
        width:300px;
        height:240px;
        
    }
    .project{
        width:300px;
    }
    .project2{
        width:300px;
    }
    .project2 .title{
        font-size:18px
    }
    .project2 img{
        width:200px;
    }
    /* .contact-title{
        padding-top:650px;
    } */
    .contact-title p{
        font-size:24px;
    }
    .contact textarea{
        padding:6px 60px 120px 5px;
    }
   .contact-section{
    background:#01040a;
    padding-top:800px
   }
}


/* 550px and 980px */

@media screen and (min-width:550px) and (max-width:850px) {
    .intro-container{
        height:500px;
        padding-top:10px;
    }
    .navigation-bar li ul{
        font-size:22px;
    }
    .navigation-infos{
        font-size:20px
    }
    .intro{
        padding-top:50px;
    }
    
    .intro .text{
        font-size: 40px;
        white-space:normal;
        
    }
    .intro .text:before{
        width:100%
    }
    .intro .text1{
        font-size:38px;
        white-space:normal;
        
    }
    .intro .text1:after{
        width:100%;
    }

    .about .hello{
        font-size:24px;
    }
    .about p{
        font-size:22px
    }
    .about-overlay{
        height:700px
    }
    .skills-container{
        margin:0;
        padding:0;
    }
    .skills-container .skills{
        width:100%;
        justify-content:space-around;
        align-items:center;
        margin-top: 50px;
        
    }
    .skills-container .skills img{
        width:100px;
        height:100px;
        
    }
    .skills-container .skills p{
        font-size:12px;
        text-align:center;
        white-space: normal;
        padding:0
        
        
    }
    .projects-overlay p{
        font-size:26px;
    }
    .projects .title{
        font-size:24px;
    }
    .projects{
        grid-template-columns: 1fr;
        gap:50px;
    }
    .projects img{
        width:350px;
        height:280px;
        align-self: center;
    }
    .project{
        width:350px;
    }
    .project2{
        width:350px;
    }
    .project2 .title{
        font-size:18px
    }
    .project2 img{
        width:200px;
    }
    
    .contact-title p{
        font-size:24px;
    }
    .projects-section{
        padding-bottom: 750px;
    }
}

@media screen and (min-width:850px) and (max-width:1050px) {
    .intro-container{
        padding-top:10px;
    }
    
    .intro{
        padding-top:50px;
    }
    
    .intro .text{
        font-size: 68px;
        white-space:normal;
        
    }
    .intro .text:before{
        width:100%
    }
    .intro .text1{
        font-size:66px;
        white-space:normal;
        
    }
    .intro .text1:after{
        width:100%;
    }

    .about .hello{
        font-size:27px;
    }
    .about p{
        font-size:25px
    }
    .about-overlay{
        height:700px
    }
    .skills-container{
        margin:0;
        padding:0;
    }
    .skills-container .skills{
        width:100%;
        justify-content:space-around;
        align-items:center;
        margin-top: 50px;
        
    }
    .skills-container .skills img{
        width:80px;
        height:80px;
        
    }
    .skills-container .skills p{
        font-size:10px;
        text-align:center;
        white-space: normal;
        padding:0
        
        
    }
    .projects-overlay p{
        font-size:30px;
    }
    .projects .title{
        font-size:20px;
    }

    .projects img{
        width:350px;
        height:280px;
        align-self: center;
    }
    .project{
        width:350px;
    }
    .project2{
        width:350px;
    }
    .project2 .title{
        font-size:18px
    }
    .project2 img{
        width:200px;
    }
    .contact-title p{
        font-size:30px;
    }
}

@media screen and (min-width:1050px) and (max-width:1432px) {
    
    .intro-container{
        padding-top:10px;
    }
    
    .intro{
        padding-top:50px;
    }
    
    .intro .text{
        font-size: 80px;
        white-space:normal;
        
    }
    .intro .text:before{
        width:100%
    }
    .intro .text1{
        font-size:78px;
        white-space:normal;
        
    }
    .intro .text1:after{
        width:100%;
    }

    
    .about-overlay{
        height:800px
    }
    .skills-container{
        margin:0;
        padding:0;
    }
    .skills-container .skills{
        width:100%;
        justify-content:space-around;
        align-items:center;
        margin-top: 90px;
        
    }
    .skills-container .skills img{
        width:110px;
        height:110px;
        
    }
 
  
}

@media screen and (min-width:1600px) {
    
    .navigation-bar li ul{
        font-size:32px;
    }
    .navigation-infos{
        font-size:28px
    }
    .navigation-infos i{
        font-size:38px
    }
    .intro-container{
        padding-top:10px;
    }
    
    .intro{
        padding-top:130px;
    }
    .scroll-arrow{
        padding-top:50px;
    }
    
    .intro .text{
        font-size: 100px;
        white-space:normal;
        
    }
    .intro .text:before{
        width:100%
    }
    .intro .text1{
        font-size:98px;
        white-space:normal;
        
    }
    .about-overlay{
        height:750px;
    }
    .skills-container{
        margin:0;
        padding:0;
    }
    .skills-container .skills{
        width:100%;
        justify-content:space-around;
        align-items:center;
        margin-top: 90px;
        
    }
    .skills-container .skills p{
        font-size:15x;
        text-align:center;
        white-space: normal;
        padding:0
        
        
    }
    .projects-overlay p{
        font-size:35px;
    }
    .projects .title{
        font-size:26px;
    }

    .projects img{
        width:400px;
        height:280px;
        align-self: center;
    }
    .project{
        width:400px;
    }
    .project2{
        width:400px;
    }
    .project2 .title{
        font-size:26px
    }
    .project2 img{
        width:200px;
    }
    .contact-title p{
        font-size:35px;
    }
    .projects .description{
        font-size:23px;
}
}
html {
    scroll-behavior: smooth;
   }

.nav-container ul{
    cursor: pointer;
}

.nav-section{
    position: fixed; 
  top: 0; 
  width: 100%;
  z-index: 1;
  background:rgb(255, 255, 255); 
}

.nav-section-2{
    position: fixed; 
    top: 0;     
    width: 100%;
    z-index: 1;
    background:rgba(1, 21, 27, 0.596); 
}


  
